:root, html {
    margin: 0;
    padding: 0;
    background: #ccc;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 8px;
    background: #efefef;
}

#c {
    position: relative;
}

tr.warn {
    color: rgb(120, 85, 0);
}
tr.err {
    color: rgb(90, 0, 0);
}
tr.pass {
    color: rgb(0, 90, 0);
}

th {
    text-align: left;
    text-align: start;
}
#table th:nth-child(2) {
    min-width: 120px;
}

.i {
    position: relative;
    margin: 12px 0;
}
.i > input {
    display: block;
    width: 100%;
}
.i > input:focus {
    outline: #009 thin;
    border-color: #009;
}
.i > label {
    display: block;
    width: auto;
}
